.section {
   padding: 100px 0;
   .section-heading {
      .section-subtitle {
         display: block;
         font-size: 20px;
         margin-bottom: 15px;
      }

      .section-title {
         font-size: 48px;
         font-weight: 700;
      }
   }

   .wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 225px;
      .block {
         flex: 0 0 23%;
         padding-right: 2%;
         position: relative;

         &:last-child {
            padding-right: 0;
         }

         &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            transform: translateY(-100px);
         }
      }

      .block-1::before {
         width: 74px;
         height: 85px;
         background: url(../images/about/icon-1.png) center no-repeat; 
      }

      .block-2::before  {
         height: 85px;
         width: 85px;
         background: url(../images/about/icon-2.png) center no-repeat;
      }

      .block-3::before  {
         width: 86px;
         height: 85px;
         background: url(../images/about/icon-3.png) center no-repeat;
      }

      .block-4::before  {
         width: 86px;
         height: 85px;
         background: url(../images/about/icon-4.png) center no-repeat;
      }
   }
}