*, *::after, *::before {
   box-sizing: border-box;
}

@import "_templates_@media";

h1 {
   color: #333333;
   font-family: Tahoma;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   text-align: center;
   padding: 70px 0 82px 0;      
}

h3 {
   text-align: center;
   font-family: Tahoma;
   font-size: 16px;
   font-weight: 700;
   color: #333333;
}

img {
 transform: translateX(60%);  
}

@media (max-width: 1199px) {
   img {
      transform: translateX(150%);  
     }
}

@media (max-width: 990px) {
   img {
      transform: translateX(170%);  
     }
}

@media (max-width: 768px) {
   img {
      transform: translateX(300%);  
     }
}

@media (max-width: 400px) {
   img {
      transform: translateX(150%);  
     }
}

