*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #333333;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 70px 0 82px 0;
}

h3 {
  text-align: center;
  font-family: Tahoma;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

img {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

@media (max-width: 1199px) {
  img {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}

@media (max-width: 990px) {
  img {
    -webkit-transform: translateX(170%);
            transform: translateX(170%);
  }
}

@media (max-width: 768px) {
  img {
    -webkit-transform: translateX(300%);
            transform: translateX(300%);
  }
}

@media (max-width: 400px) {
  img {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
}
